{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <div>
        <div class="card">
            <div class="card-header">
                {{ tour.title }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ tour.presentation }}</p>
                    <p>{{ tour.detail }}</p>
                    <p>{{ tour.date_and_price }}</p>
                    <p>{{ tour.category }}</p>
                    Карта: <img src="{{ tour.map.url }}" height="150" alt=""/>
                </blockquote>
            </div>
            <div>
                {% for image in tour.images.all %}
                    <img src="{{ image.images.url }}" height="200" alt=""/>
                {% endfor %}
            </div>
            <!--------------------------- END OF TOURS--------------------------->
            {% for comment in tour.comments.all %}
                <p>{{ comment.author }}: {{ comment.body }}. {{ comment.date }}</p>
            {% endfor %}

            <!------------------------------ COMMENTS ----------------------------->

            {% include 'includes/footer.html' %}
{%  endblock %}